@import "tailwindcss";

@theme {
  --color-primary-earth: #394158; /* Azul Acinzentado */
  --color-accent-clay: #f9943b;   /* Laranja */
  --color-accent-red: #55833d;    /* Verde Musgo */
  --color-bg-sand: #F5F2ED;      /* Bege Areia */
  
  --shadow-brutal: 8px 8px 0px 0px rgba(45, 58, 39, 1);
}

.hero {
  height: 300px;
  background: url('/assets/banner.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: white;
}

.hero h1 {
  font-size: 32px;
  font-weight: bold;
}

.hero button {
  width: 120px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: white;
  cursor: pointer;
}

.posts {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.categoria {
  font-size: 12px;
  padding: 5px;
  display: inline-block;
}

.card h3 {
  padding: 10px;
}