@import "tailwindcss";

@theme {
  --color-primary-earth: #2D3A27; /* Verde Musgo */
  --color-accent-clay: #BC5434;   /* Terracota */
  --color-bg-sand: #F5F2ED;      /* Bege Areia */
  
  --shadow-brutal: 8px 8px 0px 0px rgba(45, 58, 39, 1);
}